/*General*/


#nav-bar{
	text-decoration: none;
	height: 30px;
	width: 100%;
	background-color: #FFFFFF;
}

#image {
	text-decoration: none;
	text-align: center;
	height: 70px;
	width: 100%;
	padding-top: 150px;
}
.top_links,.bottom_links {
	list-style: none;
	display: inline;
}
nav ul{
	display: inline;
}

li {
  display: inline;
  padding: 0 1em;
  text-decoration: none;
}
.location{
	text-align: left;
}
.list_right,.bottom_right {
	position: fixed;
	right: 0;
	text-align: right;
}
.list_left {
	text-align: left;
}
footer {
	position: fixed;
	bottom: 0;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
}

.search-input {
	text-align: center;
	padding-top: 30px;
	width: 300px;
}
.form-group,.form-control {
	width: 70%;
	text-align: center;
}
form {
	padding-top: 20px;
	margin: 0 auto; 
width:400px;
}

#top_button {
	margin-right: 10px;
}
.bottom-left {
	text-align: left;
	position: fixed;
}
.location {
	padding-top: 5px;
	margin-left: 25px;
}
.sign-button {
	color: #FFFFFF;
}
.bottom-links {
	margin-left: 25px;
}
/*color*/
footer {
	background-color: #F2F2F2;
}
nav a {
	color: #434343;
}
footer, #nav-bar {
	font-color: #F2F2C6;
}
.bottom_links {
	font-color:#666666;
}
.location {
	font-color: rgba(0, 0, 0, 0.54);
	font-weight: 400;
}
/*typography*/
#nav-bar, footer{
	font-family: arial;
	font-weight: 400;
	font-size: 13px;
}
