/*General*/


#nav-bar{
	text-decoration: none;
	height: 30px;
	width: 100%;
	background-color: #FFFFFF;
}

#image {
	text-decoration: none;
	text-align: center;
	height: 70px;
	width: 50%;
}
.top_links,.bottom_links {
	list-style: none;
	display: inline;
}
nav ul{
	display: inline;
}

li {
  display: inline;
  padding: 0 1em;
}
.location{

}
.list_right,.bottom_right {
	position: fixed;
	right: 0;
	text-align: right;
}
.list_left {
	text-align: left;
}
footer {
	position: fixed;
	bottom: 0;
	padding-bottom: 10px;
	background-color: #F2F2F2;
	width: 100%;
}